*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    font-family: "roboto";
    background-color: aliceblue;
    margin: 30px 80px;
    height: 100vh;
}
.wrapper{
    perspective: 3000px;
}
.card{
    width: 400px;
    height: 500px;
    transform-style: preserve-3d;
    cursor:pointer;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3),
                -5px -5px 10px rgba(255,255,255,0.8);
    border-radius: 15px;

}
.card:hover{
    transform: rotateY(180deg);
    transition: 1s;
}
.front-page,.back-page{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
}
.front-page{
    background: url(su.jpg);
    background-size: cover;
}
.card-info{
    position: absolute;
    bottom: 50px;
    left: 45px;
    color: #8a2d2d;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    text-align: center;
}
.card-title{
    font-style: 2rem;
    font-weight: bold;
}
.back-page{
   background-color: slategray;
    color: #0ab945;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}
.card-content{
    padding: 20px;
    text-align: center;
    max-width: 300px;
}
.card-content h2{
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-weight: bold;
}
.card-description{
    font-size: 1rem;
    color: #4c28af;
    margin-bottom: 25px;
    line-height: 1.6;
}
.card-button{
    padding: 12px 24px;
    background-color: #a81d1d;
    color: slategray;
    border-radius: 25px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.card-button:hover{
    background-color:transparent;
    color: #fff;
    border: 1px solid #fff;
}